.navbarContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 114px;
  padding: 0 60px;
  position: fixed;
  top: 0;
  z-index: 2;

  .navbarContainer__logo {
    height: 53px;
    margin-bottom: 10px;
  }

  .navbarContainer__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbarContainer__menu--item {
      font-size: 18px;
      // margin: 30px 15px;
      padding: 30px 15px;
      position: relative;
      
      &>a {
        color: $darkGreen;
      }

      &:first-child:hover > .submenu {
        display: block;
      }

      .submenu {
        display: none;
        position: absolute;
        top: 60px;
        background-color: white;
        padding: 15px 0;
        border-radius: 12px;
        width: 200px;
        box-shadow: 1px 0px 40px -5px rgba(0,0,0,0.14);

        .submenu__item {
          font-size: 14px;
          
          &:hover {
            background-color: $lightGray;
          }

          a {
            padding: 5px 25px;
            display: block;
            color: $middleGray2;
          }
        }
      }
    }
  }

  .navbarContainer__buttons {
    display: flex;
    .navbarContainer__buttons--search {
      position: relative;

      .search__input {
        border: none;
        padding: 14px 50px 14px 23px;
        border-radius: 25px;
        width: 250px;
        background-color: $lightGray;
        font-family: 'Manrope', sans-serif;
        color: $middleGray2;
        
        &:focus {
          outline: none;
        }

        &::placeholder {
          font-family: 'Manrope', sans-serif;
          color: $middleGray;
        }
      }

      .search__button {
        position: absolute;
        right: 18px;
        top: 9px;

        &::after{
          content: url(../../img/search.svg);
        }
      }
    }
  }
}