$softGreen: #E1FAEE;
$lightGreen: #9CE8D9;
$darkGreen: #62B7A6;
$lightGray: #F9F9F9;
$lightGray2: #F2F2F2;
$middleGray: #CCCCCC;
$middleGray2: #808080;
$darkGray: #1A1A1A;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: $lightGray;
}

ul li, ol li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.primaryButton {
    background-color: $lightGreen;
    color: white;
    padding: 14px;
    border-radius: 20px;
    width: 190px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    transition: transform .3s ease-in-out;

    &:hover {
        transform: scale(1.04);
    }
}